.toast__mod {
    flex-basis: 215px !important;
    align-self: center;
}

.form__mod {
    width: 300px !important;
}

.enter {
    width: 100px !important;
    height: 35px !important;
    float: right;
}

.reg {
    width: 100px !important;
    height: 35px !important;
    float: left;
}

.but_wrap {
    width: 100%;
    height: 40px;
}

.message__mod {
    margin-top: 10px;
}