.report {
    /*margin-top: 10px;*/
    display: flex;
    flex-direction: column;
    height: 200px;
    flex: 1;
    margin-bottom: 10px;
    padding-top: 10px;
}

.report-table {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

td {
    font-size: 12px;
}