.load {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    height : 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}